!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body

.chat-main
  .chat-main__message-list
    .messages
      = render @messages
  .chat-main__group-info
    .info-top
      .info-name
        = @group.name
      .info-member
        member : 
        - @group.users.each do |user| 
          = user.name 
    = link_to edit_group_path(@group), class: "edit__btn" do
      Edit
  = form_for [@group, @message] do |f|
    .chat-main__message-form
      .new-message-form
        .info-box
          .form-message
            = f.text_field :content, class: 'content-box', placeholder: 'type a message'
            = f.label :image, class: 'picture__btn' do
              = icon('fas', 'image', class: 'picture__btn')
              = f.file_field :image, class: 'picture__btn__file'
          = f.submit 'Send', class: 'send__btn'
